* {
    margin: 0;
    padding: 0;
}


/*font-family: 'Playfair Display', serif;*/

body {
    background: #99d9ef!important;
}

a {
    font-family: 'Josefin Sans', sans-serif;
}

.navContainer {
    z-index: 3;
    position: fixed;
    height: 50px;
    background: white;
    width: 100vw;
    /*border-radius: 30px 0 0 30px;*/
    top: 0;
    box-shadow: #4d4d4d 2px 2px 5px;
}

.container {
    background: white;
    margin: 100px 0px;
    padding: 30px 0;
}

.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    position: absolute;
    right: 0;
}

.logoContainer {
    width: 240px;
    float: left;
    margin: 20px 0px 0px 14px;
}

.logoImg {
    width: 100%;
}

.headerEmail {
    display: inline;
    position: absolute;
    top: 18px;
    left: 20px;
    color: #4d4d4d;
    height: 50px;
}

a {
    height: 18px;
}

.topNav li {
    float: left;
}

.topNav li a {
    display: inline-block;
    color: #4d4d4d;
    letter-spacing: 1px;
    padding: 18px 17px 14px 17px;
    text-decoration: none;
    transition: 0.5s;
    float: left;
    height: 50px;
    font-size: 1.5rem;
}

.topNav li a:hover {
    color: #99d9ef;
}

.topNav li:hover {
    background: #4d4d4d;
    transition: all 0.5s ease-in-out;
}

.topNav .hamburger {
    display: none;
}

.quoteFade {
    clear: both;
    background: white;
    height: 200px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin: 30px 0 0 0;
}

.quotes {
    display: none;
}

#reformEfforts .container p, #reformEfforts .container p a {
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem!important;
    color: #4d4d4d;
}

#reformEfforts .container a.paragraphLink {
    text-decoration: underline!important;
}

#reformEfforts .container h5 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.3rem!important;
}

iframe {
    margin: 10px 0;
}

@media screen and (max-width:680px) {
    .bar1, .bar2, .bar3 {
        width: 26px;
        height: 2px;
        background-color: white;
        transition: all .5s cubic-bezier(.49, 1.35, .56, 1.39);
    }
    .bar2 {
        margin: 5px 0;
    }
    .change .bar1 {
        -webkit-transform: rotate(-405deg) translate(-5px, 5px);
        transform: rotate(-405deg) translate(-5px, 5px);
    }
    .change .bar2 {
        opacity: 0;
        margin: 5px 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(405deg) translate(-5px, -5px);
        transform: rotate(405deg) translate(-5px, -5px);
    }
    .hamburger:hover {
        cursor: pointer;
    }
    .topNav.responsive {
        float: none;
        position: absolute;
        width: 100%;
        opacity: .97;
        z-index: 3;
    }
    .navLink {
        text-align: center;
        height: 50px;
    }
    .menuLink {
        width: 100%;
    }
    /* A menuLink is the link to a page, navLink is menuLink items + the hamburger menu */
    .navLink:hover {
        cursor: pointer;
    }
    li {
        display: none;
    }
    .topNav .hamburger {
        display: block;
        background: #4d4d4d;
        height: 50px;
    }
    ul.topNav.responsive li:not(.hamburger) {
        clear: both;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        background: white;
    }
    ul.topNav.responsive li:not(.hamburger):hover {
        background: #4d4d4d;
    }
    ul.topNav.responsive li.hamburger {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    ul.topNav.responsive li:last-child {
        box-shadow: #4d4d4d 0px 7px 10px;
    }
    .video-wrapper {
        padding: 10px;
    }
    .video-wrapper iframe {
        width: 100%;
        height: 51vw;
    }
}
